@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";

.jumbo {
  background-image: url("../../images/mountains.jpg");
  background-position: top;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
}

.postcard-container {
  @include flex_center;
}
.postcard-back-redone {
  position: relative;
  background-image: url("../../images/postcard.gif");

  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white !important;
  height: 25rem;
  width: 40rem;
  @include MQ(S) {
    height: 30rem;
    width: 40rem;
  }
  @include MQ(M) {
    height: 30rem;
    width: 40rem;
  }
}

.postcard-pict-redone {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 10%;
  top: 10%;
  position: absolute;
  background-color: white;
  height: 30%;
  width: 40%;
  @include MQ(S) {
    height: 18rem;
    width: 15rem;
  }
  @include MQ(M) {
    height: 24rem;
    width: 19rem;
  }
}
.postcard-back {
  position: relative;
  background-image: url("../../images/postcard.gif");
  height: 200px;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white !important;
  margin: 0 !important;
  @include MQ(S) {
    height: 300px;
  }
  @include MQ(M) {
    height: 500px;
  }
}

.postcard-pict {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 130px;
  top: 30px;
  width: 150px;
  height: 140px;
  @include MQ(S) {
    left: 92px;
    top: 30px;
    width: 200px;
    height: 240px;
  }
  @include MQ(M) {
    left: 70px;
    top: 50px;
    width: 300px;
    height: 400px;
  }
  @include MQ(L) {
    left: 180px;
    top: 50px;
    width: 300px;
    height: 400px;
  }
  @include MQ(XL) {
    left: 280px;
    top: 50px;
    width: 300px;
    height: 400px;
  }
}

.custom-select {
  padding: 0 !important;
}
