@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";

.postcard-container {
  @include flex_center;
}
.postcard-back-redone {
  position: relative;
  background-image: url("../../images/card-shadow.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white !important;
  height: 25rem;
  width: 40rem;
  text-align: center;
  @include MQ(S) {
    height: 31rem;
    width: 40rem;
  }
  @include MQ(M) {
    height: 31rem;
    width: 40rem;
  }
  .inset {
    font-family: "Nothing You Could Do";
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px black;
    @include MQ(S) {
      font-size: 3rem;
    }
  }
}

.postcard-pict-redone {
  @include flex_center;
  background-color: grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 10%;
  top: 10%;
  position: absolute;
  height: 38%;
  width: 40%;
  @include MQ(S) {
    height: 18rem;
    width: 15rem;
  }
  @include MQ(M) {
    height: 24rem;
    width: 19rem;
  }
}
.justVisiting {
  position: absolute;
  font-family: "Nothing You Could Do";
  font-size: 1.2em;
  left: 26rem;
  text-align: left;
  width: 11rem;
  top: 19rem;
  visibility: hidden;
  display: none;
  @include MQ(M) {
    display: block;
    visibility: visible;
  }
}
