body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}

$light-grey: #c7c7c7;

@mixin border_guide {
  // box-shadow: inset 0px 0px 0px 0.5px $light-grey;
}

div {
  @include border_guide;
}
.pocketSizeImage {
  width: 100px;
}
