@import "../../styles/breakpoints.scss";

.topArea {
  width: 100%;
  height: 200px;
  background-image: url("../../images/clouds-good.png");
  background-size: contain;
  background-position: top;
  background-repeat: repeat-x;
  @include MQ(S) {
    height: 200px;
  }
  @include MQ(XL) {
    height: 300px;
  }
}

.mainHeader {
  font-family: "Nothing You Could Do";
}

.topContainer {
  text-align: center;
  & h1 {
    padding: 0.8em 0 0 0;
    font-size: 2em;
    @include MQ(S) {
      padding: 2em 0 0 0;
      font-size: 2.5em;
    }
    @include MQ(XL) {
      padding: 2.5em 0 0 0;
    }
  }
}

.smallPlane {
  height: 40px;
}
